[mq-default]
admin_user=admin
admin_passwd=admin
admin_web_port=8162

[mq-1]
ip=10.248.3.219
admin_user=admin
admin_passwd=admin
admin_web_port=8162

[extractor-default]
ssh_port=14816
ssh_user=appman
app_pattern=tungsten.jar

[extractor-1]
ip=10.166.224.81
ssh_port=22
ssh_user=appman
app_dir=syncapp-pnode
app_pattern=tungsten.jar

[extractor-2]
ip=10.166.224.83
ssh_port=22
ssh_user=appman
app_dir=syncapp-snode
app_pattern=tungsten.jar

[applier-default]
ssh_port=14816
ssh_user=appman
app_pattern=tungsten.jar

[applier-1]
ip=10.249.7.34
ssh_port=14816
ssh_user=appman
app_dir=/opt/syncapp-snode
app_pattern=tungsten.jar

[applier-2]
ip=10.249.7.35
ssh_port=14816
ssh_user=appman
app_dir=/opt/syncapp-snode
app_pattern=tungsten.jar

[applier-3]
ip=10.249.7.36
ssh_port=14816
ssh_user=appman
app_dir=/opt/syncapp-snode
app_pattern=tungsten.jar
