[extractor]
ip=10.166.224.81
ssh_port=22
ssh_user=tungsten
app_dir=~/pnode
app_pattern=tungsten.jar

[mq]
ip=10.166.224.82
ssh_port=22
ssh_user=tungsten
app_dir=~/mq
app_port=61616
app_pattern=activemq

[applier]
ip=10.166.224.83
ssh_port=22
ssh_user=tungsten
app_dir=~/applier
app_pattern=java
